body, h1, h2, h3, h4, h5, h6, p, a, i, b, div, hr, ul, li {
    margin: 0;
    padding: 0;
}


body {
    padding: 8px;
}

body.dark {
    background: #2b2b2b;
    color: #f8f8f2;
}

#header {
    font-size: 26px;
    white-space: nowrap;
    text-align: center;
}

#activeTab {
    font-size: 18px;
    text-align: center;
    overflow: hidden;
    height: 1.25em;
}

#tabList {
    margin-top: 20px;
}

.domain {
    font-size: 20px;
}

.tabs {
    display: inline-block;
    font-size: 12px;
    width: 90%;
    overflow: hidden;
    line-height: 12px;
    margin-bottom: 3px;
}

.closeTab {
    margin-top: -2px;

    display: inline-block;
    float: right;
    color: #999998;
    height: 16px;
    width: 16px;
    text-align: center;
    font-size: 12px;
    line-height: 16px;
    transition: all .15s;
}

.closeTab:hover {
    font-size: 16px;
    color: #ee0000;
}

.tabs, .closeTab {
    cursor: pointer;
}

.search {

}
